.bar_root {
  
  margin-top: 15px;
}

.bar {
  background-color: red;
  color: red;
  height: 100px;
}
/* 
.container:hover {
  background-color: red;
}
*/

.grid{
  background-color: red;
  color: red;
  } 

.axis {
  background-color: red;
  color: red;
}

.tooltip {
  display: none;
  width: fit-content;
  background-color: rgb(0 128 0  / 0.7);
  position: absolute;
  top: -60px;
  left: 0;
  font-weight: bold;
  color: white;
  padding: 5px;
}

.tooltipBody {
  padding: 2px;
}

.tooltipItem {
  background-color: white;
  display: flex;
  font-weight: normal;

  color: gray;
  justify-content: flex-start;
  align-items: start;
  padding: 5px;
}

.tooltipItemBody {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .tooltipItemName{
   display:;
 } */
